body {
  background-color: #e1f6f4;
  font-family: "Poppins", serif;
}

header {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 24px 0;
}

h1 {
  font-size: 40px;
  color: #07588a;
}

footer {
  border-top: 1px solid #e6e6e6;
  padding: 16px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgb(101, 101, 101);
}

a {
  color: #07588a;
}

.weather-app {
  background-color: white;
  max-width: 650px;
  margin: 48px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-input {
  background-color: #f4fafa;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  width: 80%;
  font-size: 16px;
}

.search-button {
  background-color: #07588a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px 30px;
  margin-left: 4px;
}
